html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-image: url("/landing_background.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  /* height: 100vh; */
}

@media screen and (min-width: 768px) {
  html,
  body {
    background-image: url("/landing_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
}

/* body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(24, 24, 31);
    color: rgb(238, 238, 238);
  }
}

a {
  color: #2563eb;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
} */
